-#----------------------------------------------------------------------------#
-#   index.haml                                                               #
-#                                                                            #
-#   Copyright (c) 2012, Rajiv Bakulesh Shah, original author.                #
-#                                                                            #
-#       This file is free software; you can redistribute it and/or modify    #
-#       it under the terms of the GNU General Public License as published    #
-#       by the Free Software Foundation, either version 3 of the License,    #
-#       or (at your option) any later version.                               #
-#                                                                            #
-#       This file is distributed in the hope that it will be useful, but     #
-#       WITHOUT ANY WARRANTY; without even the implied warranty of           #
-#       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU    #
-#       General Public License for more details.                             #
-#                                                                            #
-#       You should have received a copy of the GNU General Public License    #
-#       along with this file.  If not, see:                                  #
-#           <http://www.gnu.org/licenses/>.                                  #
-#----------------------------------------------------------------------------#


!!!

%html{lang: "en"}
  %head
    %title rubber duckie - naughty photo search
    %meta{charset: "utf-8"}
    %link{rel: "stylesheet", href: "/facebox.css"}
    %link{rel: "stylesheet", href: "/duckie.css"}

  %body
    %hgroup
      %h1
        %a{href: "/"}
          Rubber Duckie
      %h2.query Naughty Photo Search

    %article
      %form#search{method: "get", action: "/search", autocomplete: "off"}
        %fieldset
          %input{name: "query", type: "text", autofocus: ""}

    %article
      %p#loading
        Searching&hellip;
      #results
      #templates
        #result
          .frame-outer.zoom
            .frame-inner
              %a.photo{rel: "facebox", href: "/spacer.gif"}
                %img.photo.lazy{"data-original" => "/spacer.gif", src: "/spacer.gif", alt: "result"}
      %h3#no-results
        No naughty photos related to &ldquo;<span class="query"></span>&rdquo;
      %h3#broken
        Try a different query

    %footer
      %p
        Powered by
        <a href="http://www.ruby-lang.org/en/">Ruby</a>,
        <a href="http://redis.io/">Redis</a>,
        <a href="http://www.sinatrarb.com/">Sinatra</a>,
        <a href="http://www.flickr.com/">Flickr</a>, and
        Rule 34

    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{src: "/facebox.js"}
    %script{src: "/jquery.lazyload.min.js"}
    %script{src: "/duckie.js"}
