-#----------------------------------------------------------------------------#
-#   index.haml                                                               #
-#                                                                            #
-#   Copyright (c) 2012, Rajiv Bakulesh Shah, original author.                #
-#                                                                            #
-#       This file is free software; you can redistribute it and/or modify    #
-#       it under the terms of the GNU General Public License as published    #
-#       by the Free Software Foundation, either version 3 of the License,    #
-#       or (at your option) any later version.                               #
-#                                                                            #
-#       This file is distributed in the hope that it will be useful, but     #
-#       WITHOUT ANY WARRANTY; without even the implied warranty of           #
-#       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU    #
-#       General Public License for more details.                             #
-#                                                                            #
-#       You should have received a copy of the GNU General Public License    #
-#       along with this file.  If not, see:                                  #
-#           <http://www.gnu.org/licenses/>.                                  #
-#----------------------------------------------------------------------------#



!!!

%html
  %head
    %title Rubber Duckie
    %link(rel="stylesheet" href="/style.css")

  %body
    %h1 Rubber Duckie

    %form{action: "/search", method: "get"}
      %fieldset
        %input{type: "text", name: "query", class: "text"}

    #results

    %img#result{src: "", alt: ""}

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    %script(src="/script.js")
